$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color-black: #323232;
$primary-color-silver: #AFAFAF;
$primary-color-white: #FFFFFF;
$primary-color-blue: #0095FF;


$secondary-color-darkblack: #000000;
$secondary-color-mercury: #E1E1E1;
$secondary-color-alabaster: #FAFAFA;
$secondary-color-darkblue: #0065AD;